/* Clearfix Float Hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

/* General Setup */

body {
  background-color: grey;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

/* Desktop layout */
.row {
  background-color: darkgreen;
  width: 90%;
  margin: 0 5%;
}

.small-paragraph {
  width: 20%;
  background-color: rgb(28, 168, 28);
  float: left;
  clear: both;
}

.image {
  float: left;
}

.image img {
  max-height: 200px;
  max-width: 320px;
  clear: both;
}

.large-paragraph {
  width: 40%;
  background-color: burlywood;
  float: left;
}
/* start Flexbox Alignment of squares */

.red-square-container {
display: inline-flex;
flex-direction: row;
flex-wrap: wrap;
}

.red-square {
  width:200px;
  height:200px;
  background-color:red;
justify-content: space-evenly;
margin: 0 auto;
}
.blue-square {
  width:200px;
  height:200px;
  background-color:yellow;
justify-content: space-evenly;
margin: 0 auto;
}
.purple-square {
  width:200px;
  height:200px;
  background-color:purple;
justify-content: space-evenly;
margin: 0 auto;
}
/* End Flexbox Alignment of squares */

/* Mobile Layout */
@media (max-width:907px) {

  .row {
    background-color: blue;
    width: 90%;
    margin: 0 5%;
}

.small-paragraph {
  width: 100%;
  background-color: rgb(28, 168, 28);
  float: left;
  clear: both;
  text-align: center;
}
  .image {
    float: left;
    clear: both;
    text-align: center;
    width: 100%;
    align-self: center;
    vertical-align: -webkit-baseline-middle
  }
  .image img {
    width: 100%;
    margin: auto;
  }

  .large-paragraph {
    width: 90%;
    padding: 0 5%;
  }


    }
    
}


