/* Clearfix Float Hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

div {
  display: block;
}

.wrapper {
  margin:0;
  padding:0;
  background-color: white;
}

#skip-to-content {
  display: none;
}

a {
  color: #009fe3;
  text-decoration: none;
}

.site-title
{
  width: 100%;
}
/* just styles */
.nav_sup {
  background: white;/* #fff */
  height: 40px;
  width: 100%;
  margin: 0 auto;
}
/* restricts size */
.nav_sup_content {
  max-width: 1200px;
  padding: 0;
}

 .head-user {
  padding: 0;
  position: relative;
  z-index: 15;
  background-color: khaki;
}
 
 .head-user {
  float: right;
  clear: right;
/*   padding: 5px 0; */
  background-color: white;
}


body {
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#bt_out {
  float: left;
  margin: 10px 20px 0 30px;
  font: bold 16px 'Myriad Pro',sans-serif;
  color: #009fe3;
  background-color: white
}

#sign-in {
  float: left;
  font: bold 16px sans-serif; 
  color: #009fe3;
  text-decoration: none;
  background: url('../img/svg/angle-right.svg') no-repeat 100%;
  padding-right: 20px;
  padding-left: 10px;
} 

#redes_sociales {
  position: relative;
  top: 2px;
  float: right;
  height: 30px;
  padding: 4px 20px;
}

#redes_sociales a {
  margin-right: 5px;
  border-radius: 5px;
}

#facebook {
  background: url('../img/svg/facebook.svg') no-repeat center center;
  height: 28px;
  width: 28px;
  display: inline-block;
}

#youtube {
  background: url('../img/svg/youtube.svg') no-repeat center center;
  height: 28px;
  width: 28px;
  display: inline-block;
}
#twitter {
  background: url('../img/svg/twitter-square.svg') no-repeat center center;
  height: 28px;
  width: 28px;
  display: inline-block;
}
#instagram {
  background: url('../img/svg/instagram.svg') no-repeat center center;
  height: 28px;
  width: 28px;
  display: inline-block;
}

#banner {
  height: 45px;
  background: #afca0b;
}
#menudearriba {
  text-align: right;
  margin-top: 0;
  padding: 10px;
  background: #afca0b;
}

#menudearriba li a.selected_nav, #menudearriba li span.selected_nav {
  color: #000;
}
#menudearriba li a, #menudearriba li span {
  font: bold 20px 'Myriad Pro',sans-serif;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
}

#menudearriba li.menudearriba2 {
  padding-left: 0;
}

#menudearriba li {
  border-right: #fff solid 2px;
  padding: 0 10px;
}
#menudearriba li {
  vertical-align: top;
  display: inline-block;
  font: bold 16px Lato;
  border-right: #fff solid 1px;
  padding: 0 5px;
}

/* Logo */

/* .home #heading .logos {
  z-index: 998;
}
#heading .logos {
  position: relative;
  top: 45px;
  width: 100%;
  height: 108px;
  margin: 0 auto;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 0;
}
#heading .logos {
  clear: both;
  overflow: hidden;
  margin-left: 200px;
} */

/* bg_content navigation content */

.home #content {
  max-width: none;
  width: 100%;
  margin: 0 auto;
  margin-top: 0;
}

.slider_image {
  background-image: url('../img/dummyimage.jpg');
  background-color: #f4f4f2;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 300px;
}
