<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <title>Snip - Row Layout</title>
</head>
<body>
  <h1>Snip of Different Layouts</h1>
  <a href="../../index.html">Go Back To Main Page</a>
  <h2>The Row with Elements</h2>
  <ul>
    <li>At 1000px starts the large layout</li>
    <li>At 600px starts the medium layout</li>
    <li>under 500px starts the mobile layout</li>
  </ul>
  <div class="row clearfix">
    <div class="small-paragraph">
      Some Title or small text center aligned
    </div>
    <div class="image">
      <img src="./img/placeholder.png" alt="A placeholder">
    </div>
    <div class="large-paragraph">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec velit et lectus porttitor dapibus. Donec vitae massa risus. Maecenas vulputate ligula non purus sagittis imperdiet. Proin nec lectus magna. Nulla molestie viverra orci vitae ornare. Integer sed sapien nisl. Etiam tortor magna, fermentum id condimentum in</p>
    </div>
  </div>
</body>
</html>