<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <title>Template ISE</title>
</head>
  <body>
      <a href="../../index.html">Go Back To Main Page</a>
    <div class="wrapper">
      <a href="#main-content" id="skip-to-content">Skip to Content</a>
    <div class="nav_sup">
      <div class="nav_sup_content">
        <div class="head-user">
          <span id="bt_out">
            <a href="#" id="sign-in" rel="nofollow">Sign In</a>
            <a href="#" id="sign-in" rel="nofollow">Register</a>
          </span>
          <span id="redes_sociales">
            <a href="#" id="facebook" target="_blank" ></a>
            <a href="#" id="youtube" target="_blank" ></a>
            <a href="#" id="twitter" target="_blank" ></a>
            <a href="#" id="instagram" target="_blank" ></a>
          </span>
        </div>
      </div>
    </div>
    </div>
    <header id="banner" role="banner">
      <a name="arriba"></a>
      <div id="heading">
        <div class="nav-control">
          <div class="head-user">
            <!-- hidden login -->
          </div>
        <div class="nav-general nav-main">
          <div class="portletboundary">
          <!-- hidden data -->
          <ul id="menudearriba">
            <li class="menudearriba2"><a href="">Home</a></li>
            <li class="menudearriba2"><a href="">Courses</a></li>
          </ul>
          </div>
        <div class="logos">
          <h1 class="site-title">
            <a href="#" class="logo custom-logo" title="Go to Homepage">
              <img src="#" alt="Hompage Company">
            </a>
          </h1>
        </div>
        </div>
        </div>
      </div>
    </header>
    <div class="bg_content navigation_content">
      <div class="content">
        <div class="slider_image"></div>
      </div>
    </div>
<!-- Portlet -->
<div class="row clearfix">
    <div class="small-paragraph">
      Some Title or small text center aligned
    </div>
    <div class="image clearfix">
      <img src="./img/placeholder.png" alt="A placeholder">
    </div>
    <div class="large-paragraph clearfix">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec velit et lectus porttitor dapibus. Donec vitae massa risus. Maecenas vulputate ligula non purus sagittis imperdiet. Proin nec lectus magna. Nulla molestie viverra orci vitae ornare. Integer sed sapien nisl. Etiam tortor magna, fermentum id condimentum in</p>
    </div>
  </div>

    </div><!-- Closes Wrapper -->
  </body>
</html>