<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <title>Template ISE</title>
</head>
<body>
  <div class="wrapper">
    <a href="#main-content" id="skip-to-content">Skip to Content</a>
  <div class="nav_sup">
    <div class="nav_sup_content">
      <div class="head-user">
        <span id="bt_out">
          <a href="#" id="sign-in" rel="nofollow">Sign In</a>
          <a href="#" id="sign-in" rel="nofollow">Register</a>
        </span>
        <span id="redes_sociales">
          <a href="#" id="facebook" target="_blank" ></a>
          <a href="#" id="youtube" target="_blank" ></a>
          <a href="#" id="twitter" target="_blank" ></a>
          <a href="#" id="instagram" target="_blank" ></a>
        </span>
      </div>
    </div>
  </div>
  </div>
  <header id="banner" role="banner">
    <a name="arriba"></a>
    <div id="heading">
      <div class="nav-control">
        <div class="head-user">
          <!-- hidden login -->
        </div>
      <div class="nav-general nav-main">
        <div class="portletboundary">
        <!-- hidden data -->
        <ul id="menudearriba">
          <li class="menudearriba2"><a href="">Home</a></li>
          <li class="menudearriba2"><a href="">Courses</a></li>
        </ul>
        </div>
      <div class="logos">
        <h1 class="site-title">
          <a href="#" class="logo custom-logo" title="Go to Homepage">
            <img src="#" alt="Hompage Company">
          </a>
        </h1>
      </div>
      </div>
      </div>
    </div>
  </header>
  <div class="bg_content navigation_content">
    <div class="content">
      <div class="slider_image"></div>
    </div>
  </div>
  <div class="portlet-body">
    <!-- there is some empty header -->
      <div class="portlet">
        <div class="portlet-question">
          <p>What do <br>we do?</p>
        </div>
        <div class="portlet-image">
          <img src="../ISE/img/placeholder.png" alt="">
        </div>
        <div class="portlet-description">
          <p>ASDFASDFASDFASD</p>
          <p>Ut euismod placerat est ut mattis. Vestibulum tristique a ligula a posuere. Aliquam erat volutpat. Mauris sed volutpat dui. Maecenas nec semper ante. Vivamus eu porta mauris. Sed pretium vel nisi ultrices efficitur. Pellentesque mattis a dui at vehicula. Donec dictum euismod tempor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut non velit arcu. Aenean semper dictum sapien, a ornare neque. Proin vehicula vel est non bibendum. Nulla facilisi. In facilisis erat ut ante sodales pulvinar.</p>
        </div>
      </div>
  </div>
  <div class="portlet_courses">
    <div class="portlet-question2">
      <p>Available <br>Courses</p>
    </div>
    
    <div class="home-courses-container ">
      <a href="#">
        <img class="portlet-course-image" src="../ISE/img/placeholder_course.png" alt="">
      </a>
      <div class="portlet-course-data">
        <h4>
          <span>
            <a href="#">Blockchain in the Enery Sector</a>
          </span>
        </h4>
        <p><br></p>
        <p> An overview of how and why blockchain has the potential to disrupt the energy sector, optimise conventional processes, and empower customers as never before. </p>
      </div>
      <div class="portlet-course-link">
        <a href="#">Go to the course</a>
      </div>
    </div>

    <div class="home-courses-container ">
        <a href="#">
          <img class="portlet-course-image" src="../ISE/img/placeholder_course.png" alt="">
        </a>
        <div class="portlet-course-data">
          <h4>
            <span>
              <a href="#">Blockchain in the Enery Sector</a>
            </span>
          </h4>
          <p><br></p>
          <p> An overview of how and why blockchain has the potential to disrupt the energy sector, optimise conventional processes, and empower customers as never before. </p>
        </div>
        <div class="portlet-course-link">
          <a href="#">Go to the course</a>
        </div>
    </div>

    <div class="home-courses-container ">
        <a href="#">
          <img class="portlet-course-image" src="../ISE/img/placeholder_course.png" alt="">
        </a>
        <div class="portlet-course-data">
          <h4>
            <span>
              <a href="#">Blockchain in the Enery Sector</a>
            </span>
          </h4>
          <p><br></p>
          <p> An overview of how and why blockchain has the potential to disrupt the energy sector, optimise conventional processes, and empower customers as never before. </p>
        </div>
        <div class="portlet-course-link">
          <a href="#">Comming Soon</a>
        </div>
    </div>
    <footer>
      
    </footer>
    

  </div>

  </div>

</body>
</html>